<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title ">League Table</h4>
            <p class="card-category">As high as honer</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="">
                  <tr>
                    <th>
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Win
                    </th>
                    <th>
                      Lose
                    </th>
                    <th>
                      Score
                    </th>
                    <th>
                      Win%
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items;let i = index">
                    <td>
                      <img src="{{item.imgSrc}}">
                    </td>
                    <td>{{item.player}}</td>
                    <td>{{item.winNumber}}</td>
                    <td>{{item.loseNumber}}</td>
                    <td>{{item.points}}</td>
                    <td>{{item.winRate}}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
