table{
    td{
        img{
            width:50px;
            border-radius: 50px;
        }

        i{
            margin-left:40%;
            position: relative;
            top:7px;
        }
    }
}