<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/yawei.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">暂列首席/ 双光环者</h6>
            <h4 class="card-title">朱亚伟/ Yawei</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/ps.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">暂列次席/ JJ终结者</h6>
            <h4 class="card-title">彭建霖/ Ps</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/hobby.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">永远的首席/ 被坑者</h6>
            <h4 class="card-title">蒋艺颢/ Hobby</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/Leon.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">第一集团末座/ 坑人者</h6>
            <h4 class="card-title">骆杰/ Leon</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/Gin.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">那个男人/ 天选之子</h6>
            <h4 class="card-title">李京波/ Gin</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/WangChen.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">震川大佬/ 顾家男人</h6>
            <h4 class="card-title">王晨/ WangChen</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/King.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">鸡血王子/ 龙血王子</h6>
            <h4 class="card-title">金文韬/ KoDB</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/Seven.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">潜水者/ 替补者</h6>
            <h4 class="card-title">焦磊/ Seven</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
