<div class="main-content" id="userProfilesGrid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/yawei.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">暂列首席/ 双光环者</h6>
            <h4 class="card-title">朱亚伟/ Yawei</h4>
            <p class="card-description">
              亚伟思虑卓绝，天赋彩溢，初学血洗于浦口，则三日能通察大略，五日能悟其精要，七日能搏戏群雄，月余能融汇贯通，夺侧目于诸侯也。
            </p>
            <a href="#" class="btn btn-success btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/ps.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">暂列次席/ JJ终结者</h6>
            <h4 class="card-title">彭建霖/ Ps</h4>
            <p class="card-description">
              兵甲富厚，决战必胜，彭不如亚伟；天恩沐浴，不战而胜，彭不如京波；审慎周密，谋定后胜，彭不如艺颢。然能崛起于乱世，固位于王左，必有非常也。
            </p>
            <a href="#" class="btn btn-info btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/hobby.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">永远的首席/ 被坑者</h6>
            <h4 class="card-title">蒋艺颢/ Hobby</h4>
            <p class="card-description">
              谅腐草萤光，何与日月争辉？四方天下，故为大矣，然无极广域，谁能匹之？群雄逐鹿，颢能泰然观之，如泰山视蝼蚁争锋，无愁胜负也。
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/Leon.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">第一集团末座/ 坑人者</h6>
            <h4 class="card-title">骆杰/ Leon</h4>
            <p class="card-description">
              金陵俊杰，江左帅才，初能横行无忌，肆情称雄，指之者降，攻之者陷，至尊惧之。然今虎落平阳，人尽可欺，送号"Real 颓"，为天下笑也。
            </p>
            <a href="#" class="btn btn-warning btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/Gin.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">那个男人/ 天选之子</h6>
            <h4 class="card-title">李京波/ Gin</h4>
            <p class="card-description">
              有一人成神，暴虐千军，挟天恩浩荡，无敌于行伍间者乎？有无视规则，屡犯禁忌，弃队友独行，仍能稳坐钓鱼台者乎？京波之前，吾即不信，京波之后，吾信矣！
            </p>
            <a href="#" class="btn btn-info btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/WangChen.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">震川大佬/ 顾家男人</h6>
            <h4 class="card-title">王晨/ WangChen</h4>
            <p class="card-description">
              晨少与至尊识，朝夕论道，同食共寝，有非常之谊。后随至尊逐鹿，为肱骨，沉稳隐忍，数立功，至尊常称之为能，封震川王，使之常镇其邦。
            </p>
            <a href="#" class="btn btn-success btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/King.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">鸡血王子/ 龙血王子</h6>
            <h4 class="card-title">金文韬/ KoDB</h4>
            <p class="card-description">
              爱战袍，爱清新，妇女之友，浪王之王，昆山地头蛇，苏州大哥大，一句"我已遥遥领先"后代表月亮消灭你。
            </p>
            <a href="#" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 userProfileCard">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="assets/image/portrait/Seven.jpg" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">潜水者/ 替补者</h6>
            <h4 class="card-title">焦磊/ Seven</h4>
            <p class="card-description">
              四个10！三张大枪！Hmmm, 三张10！三张10！三张K！Thank you, next.
            </p>
            <a href="#" class="btn btn-warning btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
